@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: url('sourcesanspro-boldit.eot');
    src: url('sourcesanspro-boldit.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-boldit.woff') format('woff'),
         url('sourcesanspro-boldit.ttf') format('truetype'),
         url('sourcesanspro-boldit.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
